@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Logobenhartdev path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: textAnimation 30s ease-in-out infinite alternate forwards;
  animation-delay: 0.5s;
}

@keyframes textAnimation {
  0% {
      stroke-dashoffset: 60;
  }
  80% {
      fill: transparent;
  }
  100% {
      fill: #fff;
      stroke-dashoffset: 0;
  }
}

.Logobenhartdev:hover {
  animation-play-state: paused;
}
